@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .header__1{
        background-color: #ead4ab;
    }
    .card{
        background-color: white;
    }
    .foot{
        background-color: rgb(15, 118, 110);
    }
}